.commentEditor {
	width: 80%;
	height: 100px;
	resize: none;
	margin-right: 10px;
}

.commentForm {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.commentForm button {
	background-color: var(--primary-bg-color);
	color: #ffe176;
}

.commentForm button:hover {
	background-color: var(--btmPrimary-bg-color);

}