.commentContent {
	display: flex;
}
.commentText {
	margin: 0 20px 0 5px;
	text-align: left;
	width: 97%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 10px;
}

.date {
	font-size: 12px;
	text-align: right;
}

.editing {
	width: 93%;
	height: 100px;
	resize: none;
	background-color: var(--secondary-bg-color);
	margin-right: 5px;
}

.editContainer {
	margin: 0 20px 0 5px;
	text-align: left;
	width: 97%;
	display: flex;
}

.editBtn {
	margin: 0px 0px 0px 10px;
}

.commentText .content {
	margin: 0px 0px 5px 5px;
	background: var(--btmTertiary-bg-color);
	min-height: 70px;
	padding: 5px;
	border-radius: 5px;
}

.editBtnsDiv{
	margin: 0px 0px 0px auto;
}