.postForm {
	display: flex;
	justify-content: center;
	height: 93vh;
	overflow-y: auto;
}

label {
	color: var(--secondary-bg-color);
	padding: 5px 0 5px 0;
}

.tagList {
	display: flex;
	min-height: 40px;
	overflow: hidden;
	width: -webkit-fill-available;
	justify-content: center;
	align-items: center;
	max-width: 70vw;
	flex-wrap: wrap;
	align-self: center;
}

.selectDiv {
	align-self: center;
	display: flex;
}

.tagsContainer {
	width: -webkit-fill-available;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 10px 0 10px 0;
}

.postForm label{
	margin-left: 10px;
}
