.Vote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 3px solid var(--primary-bg-color);
	background-color: var(--tertiary-bg-color);
	border-radius: 5px;
	padding: 5px;
}
