.Header {
	position: relative;
	background-color: var(--primary-bg-color);
	z-index: 10;
	height: 30px;
	display: flex;
	justify-content: space-between;
}

h1 {
	font-size: 30px;
	font-family: 'Roboto';
	color: var(--secondary-bg-color);
	user-select: none;
	position: relative;
	background-color: var(--primary-bg-color);
	text-shadow: 0.5px 0.5px 1px rgb(110, 110, 110),
		1px 1px 1px rgb(94, 94, 94), 2px 2px 1px rgb(82, 82, 82),
		3px 3px 0.5px rgb(70, 70, 70),
		4px 4px 0.5px rgb(48, 48, 48);
}
