.toolTip {
	position: relative;
	z-index: 100;
}
.menu {
	left: -90px;
	top: -10px;
	position: absolute;
	width: 80px;
	height: 85px;
	background-color: var(--btmSecondary-bg-color);
	padding: 5px 0 5px 0;
	border: 1px solid var(--btmPrimary-bg-color);
}
.menu button {
	padding: 0 0 0 8px;
	background-color: inherit;
	width: 80px;
	text-align: left;
}
.menu button:hover{
	background-color: var(--btmPrimary-bg-color);
}
.login {
	text-align: center;
}
.dots {
	transition: all .5s;
	left: -17px;
	position: absolute;
	color: var(--secondary-bg-color);
	width: 20px;
	display: flex;
	justify-content: flex-end;
	border-radius: 25%;
}
.dots:hover {
	background-color: var(--btmSecondary-bg-color);
}
.dots::after {
	content: '\2807';
	font-size: 20px;
}
