.iconProfile {
	top: auto;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	min-width: 50px;
	min-height: 50px;
	max-height: 50px;
	font-size: 25px;
	font-weight: bold;
	pointer-events: none;
}

.acronyms {
	filter: invert(100%);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
