.chip {
	display: flex;
	background-color: var(--btmSecondary-bg-color);
	border-radius: 15px;
	margin: 5px 5px 0 0;
	align-items: center;
	padding: 5px;

}

.chip p {
	margin: 2px;
	pointer-events: none;
	color: var(--btmTertiary-bg-color);
}

.chip.error {
	display: none;
}

.deleteChip {
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: inherit;
	margin-left: 4px;
	color: var(--btmTertiary-bg-color);
}

.deleteChip:hover {
	background-color: var(--secondary-bg-color);
	cursor: pointer;
}
