html {
	overflow-y: auto;
}

body {
	--primary-bg-color: rgb(27, 38, 59);
	--secondary-bg-color: rgb(224, 225, 221);
	--tertiary-bg-color: rgb(70, 97, 129);
	--quaternary-bg-color: rgb(13, 27, 42);

	--btmPrimary-bg-color: rgb(13, 28, 43);
	--btmSecondary-bg-color: rgb(27, 38, 59);
	--btmTertiary-bg-color: rgb(119, 141, 169);

	--cardPrimary-bg-color: rgb(65, 90, 119);

	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--secondary-bg-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
