html {
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	--primary-bg-color: hsl(159, 56%, 7%);
	--secondary-bg-color: hsl(35, 32%, 88%);
	--tertiary-bg-color: hsl(155, 43%, 18%);
	--quaternary-bg-color: hsl(43, 30%, 60%);

	--btmPrimary-bg-color: hsl(43, 30%, 60%);
	--btmSecondary-bg-color: hsl(43, 30%, 79%);
	--btmTertiary-bg-color: hsl(194, 43%, 18%);

	--cardPrimary-bg-color: hsl(190, 100%, 10%);

	--error-color: hsl(0, 77%, 42%);

	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--secondary-bg-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
