.PostForm {
	display: flex;
	justify-content: center;
}

textarea,
input {
	background-color: var(--secondary-bg-color);
	max-width: 100vw;
}

label {
	color: white;
	padding-bottom: 5px;
	padding-top: 5px;
}

.tagList {
	border: 1px solid black;
	width: 100px;
	min-height: 20px;
	background-color: var(--quaternary-bg-color);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
